*{
    margin: 0px;
}
h1{
    text-align: center;
    color:skyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
   text-align: justify; 
}
body{
   /* background-color: aqua;
    background-image: url("./pexels-katja-79053-592077.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-image: linear-gradient(360deg transparent,yellow);
    background:-webkit-linear-gradient(360deg,transparent,yellow);
    background: -o-repeating-linear-gradient(360deg,transparent,yellow);
    
}
/*
div{
    padding:20px ;
    display: flex;
    background-image: url("./pexels-katja-79053-592077.jpg");
    background-size: cover;

}
ul{padding: 20px;
    display: flex;
    background-image: url("./pexels-katja-79053-592077.jpg");


}
    */


.aboutp{
    /*padding: 20px;*/

     border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 400px;
    font-size: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    background-image:url("./pexels-katja-79053-592077.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}
/* header and nav*/
.header{
    position: fixed;
    width:100%;
    padding: 10px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    height: 50px;
    align-items: center;
    color: skyblue;


}
.logo{
    width: 25%;
    text-align: center;
    size: 50%;
}
.naves{
    width: 50%;
    text-align: right;
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
}
.naves a{
    text-decoration: none;
    color: skyblue;
    font-size: 20px;

}
.naves a:hover{
    color: white;
}
.btn{
    background: linear-gradient(45deg,transparent,green,transparent);
    padding: 20px;
    border-radius: 50%;
}
.social{
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
}
.fb{
    color: white;
    font-size: 20px;
}